<div class="row">
    <h2>Device information</h2>
</div>
<div class="{{ styles.deviceRow }} row">
  <div class="col-2"><strong>Device name</strong></div>
  <div class="col-6" id="info-device-name">{{ model.deviceName }}</div>
</div>
<div class="{{ styles.deviceRow }} row">
  <div class="col-2"><strong>Brand</strong></div>
  <div class="col-6" id="info-brand">{{ model.brand }}</div>
</div>
<div class="{{ styles.deviceRow }} row">
  <div class="col-2"><strong>Model</strong></div>
  <div class="col-6" id="info-model">{{ model.model }}</div>
</div>
<div class="{{ styles.deviceRow }} row">
  <div class="col-2"><strong>Serial</strong></div>
  <div class="col-6" id="info-serial">{{ model.serial }}</div>
</div>
<div class="{{ styles.deviceRow }} row">
  <div class="col-2"><strong>Operating System</strong></div>
  <div class="col-6" id="info-operating-system">{{ model.operatingSystem }}</div>
</div>
<div class="{{ styles.deviceRow }} row">
  <div class="col-2"><strong>Interfaces</strong></div>
  <div class="col-6" id="info-interfaces">{{ model.interfaces }}</div>
</div>
<div class="{{ styles.deviceRow }} row">
  <div class="col-2"><strong>Uptime</strong></div>
  <div class="col-6" id="info-uptime">{{ model.uptime }}</div>
</div>

<hr>

<h2>Power</h2>
<div class="row">
    <div class="col-2">
        <p>
          <button type="p-button--neutral" name="">Restart</button>
        </p>
    </div>
    <div class="col-2">
      <p>
        <button type="p-button--neutral" name="">Power off</button>
      </p>
    </div>
</div>

<hr>

<h2>Factory settings</h2>
<div class="row">
    <div class="col-3">
        <button type="p-button--neutral" name="">Reset to factory settings</button>
    </div>
</div>
