<h2>Device information</h2>
<div>
  <div class="eight-col last-col">
    <div class="row no-border eight-col last-col">
      <div class="b-settings__content__row__name three-col">Device name</div>
      <div class="five-col last-col">{{ deviceName }}</div>
    </div>
    <div class="row no-border eight-col last-col">
      <div class="b-settings__content__row__name three-col">Brand</div>
      <div class="five-col last-col">{{ brand }}</div>
    </div>
    <div class="row no-border eight-col last-col">
      <div class="b-settings__content__row__name three-col">Model</div>
      <div class="five-col last-col">{{ model }}</div>
    </div>
    <div class="row no-border eight-col last-col">
      <div class="b-settings__content__row__name three-col">Serial</div>
      <div class="five-col last-col">{{ serial}}</div>
    </div>
    <div class="row no-border eight-col last-col">
      <div class="b-settings__content__row__name three-col">Operating System</div>
      <div class="five-col last-col">{{ operatingSystem }}</div>
    </div>
    <div class="row no-border eight-col last-col">
      <div class="b-settings__content__row__name  three-col">Interfaces</div>
      <div class="five-col last-col">{{ interfaces }}</div>
    </div>
    <div class="row no-border eight-col last-col">
      <div class="b-settings__content__row__name three-col">Uptime</div>
      <div class="five-col last-col">{{ uptime }}</div>
    </div>
  </div>
</div>
