<div class="eight-col last-col">
  <div>
    <h2>Device information</h2>
    <ul class="list">
      <li class="b-settings__device__row row no-border" id="device">
        <span class="b-settings__device__row__name four-col">Device name</span>
        <span class="four-col last-col">{{ deviceName }}</span>
      </li>
      <li class="b-settings__device__row row no-border" id="device">
        <span class="b-settings__device__row__name four-col">Brand</span>
        <span class="four-col last-col">{{ brand }}</span>
      </li>
      <li class="b-settings__device__row row no-border" id="device">
        <span class="b-settings__device__row__name four-col">Model</span>
        <span class="four-col last-col">{{ model }}</span>
      </li>
      <li class="b-settings__device__row row no-border" id="device">
        <span class="b-settings__device__row__name four-col">Serial</span>
        <span class="four-col last-col">{{ serial }}</span>
      </li>
      <li class="b-settings__device__row row no-border" id="device">
        <span class="b-settings__device__row__name four-col">Operation System</span>
        <span class="four-col last-col">{{ operatingSystem }}</span>
      </li>
      <li class="b-settings__device__row row no-border" id="device">
        <span class="b-settings__device__row__name four-col">Interfaces</span>
        <span class="four-col last-col">{{ interfaces }}</span>
      </li>
      <li class="b-settings__device__row row no-border" id="device">
        <span class="b-settings__device__row__name four-col">Uptime</span>
        <span class="four-col last-col">{{ uptime }}</span>
      </li>
    </ul>
  </div>
</div>
